.nav-link:hover {
    
 transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px #00bcd450;
  
}
.card:hover {

    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px #00bcd450;
  

}
.btn:hover {

    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px #00bcd450;
}